@use "sass:color";

@use "../functions";
@use "../variables" as *;

// scss-docs-start table-variant
@mixin table-variant($state, $background) {
  .table-#{$state} {
    $color: functions.color-contrast(
      functions.opaque($body-bg, $background),
      $color-contrast-dark,
      $color-contrast-light,
      $min-contrast-ratio,
      $white,
      $black
    );
    $hover-bg: color.mix(
      $color,
      $background,
      percentage($table-hover-bg-factor)
    );
    $striped-bg: color.mix(
      $color,
      $background,
      percentage($table-striped-bg-factor)
    );
    $active-bg: color.mix(
      $color,
      $background,
      percentage($table-active-bg-factor)
    );
    $table-border-color: color.mix(
      $color,
      $background,
      percentage($table-border-factor)
    );

    --#{$prefix}table-color: #{$color};
    --#{$prefix}table-bg: #{$background};
    --#{$prefix}table-border-color: #{$table-border-color};
    --#{$prefix}table-striped-bg: #{$striped-bg};
    --#{$prefix}table-striped-color: #{functions.color-contrast(
        $striped-bg,
        $color-contrast-dark,
        $color-contrast-light,
        $min-contrast-ratio,
        $white,
        $black
      )};
    --#{$prefix}table-active-bg: #{$active-bg};
    --#{$prefix}table-active-color: #{functions.color-contrast(
        $active-bg,
        $color-contrast-dark,
        $color-contrast-light,
        $min-contrast-ratio,
        $white,
        $black
      )};
    --#{$prefix}table-hover-bg: #{$hover-bg};
    --#{$prefix}table-hover-color: #{functions.color-contrast(
        $hover-bg,
        $color-contrast-dark,
        $color-contrast-light,
        $min-contrast-ratio,
        $white,
        $black
      )};

    color: var(--#{$prefix}table-color);
    border-color: var(--#{$prefix}table-border-color);
  }
}
// scss-docs-end table-variant
